<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my first jinja print project</h1>
    <h1>These data from the backend</h1>
    <h1>{{ name }}</h1>
    <h1>{{ age }}</h1>
    <h1>{{ stream }}</h1>
</body>
</html>
<style>
    *
    {
        margin: 0%;
    }
    body
    {
        background:rgb(2, 247, 255);
    }
    h1
    {
        
        color: whitesmoke;
        background: linear-gradient(to right,red,rgb(37, 191, 197),whitesmoke);
        text-align: center;
        width: 98%;
        border: 2px solid whitesmoke ;
        padding: 10px;
        border-radius:100px ;
        margin-top: 5%;
    }
</style>